/* Reseteo estricto para pantallas completas */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden; /* Evita barras de scroll no deseadas en el body */
}